<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!!!</title>
</head>
<body>
    <form action="/comment" method="post">
        <label for="username">Nama Anda</label>
        <br>
        <input type="text" name="username" id="username" required>
        <br>
        <br>
        <label for="text">Isi Komen</label>
        <br>
        <textarea name="text" id="text" cols="30" rows="10" required ></textarea>
        <br>
        <button type="submit">OK!</button>
    </form>
</body>
</html>