<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Yo Hallo.... Welcome To Web Server Rafli</h1>
    <h3>Tambah Comment</h3>
    <button><a href="/comment">Tampilkan Comment</a></button>
    <br>
    <h3>Tambah Comment</h3>
    <button><a href="/comment/create">Tambahkan Comment</a></button>

</body>
</html>